.bot-chat-message-hour {
    color: #353839;
    font-size: 0.75em;
    text-align: left;
}

.bot-chat-message-container {
    margin-top: 0;
    background-color: #fefefe;
    padding: 10px;
    border-radius: 0 5px 5px 5px;
    font-size: 0.9rem;
    color: #353839;
    font-weight: medium;
    position: relative;
    width: 184.5px;
    margin-left: 10px;
    text-align: left;
    box-shadow: 0 0 10px 0 #e1e1e1;
}
