.lowbot-avatar {
    width: 35px;
    height: 35px;
    font-size: 1.5em;
    background-image: linear-gradient(45deg, #8a8a8a, #a1a1a1, #c1c1c1);
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
}